header{
    background: linear-gradient(rgba(4,9,30,.9), rgba(4,9,30,.9)), url('/dist/images/map.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    color:#fff;

    .navbar{
        padding-top:3.2rem;
    
    .navbar-logo{
            h4 a{
                letter-spacing: .07rem;   
                color:#FFFFFF;
                text-decoration: none;
            }
    }
    .navbar-list{
        color:#fff;
        li a{
            color:#fff;
            text-decoration:none;
            margin-left: 3rem;
            text-transform: uppercase;
            font-size:.8rem;
        }
        .currency-link, .stock-link{
            border:1px solid #fff;
            padding:.8rem 1.5rem;
            border-radius: 2px;
            &:hover{
                background: #FFFFFF;
                color:#3d3d3d;
                font-weight: bold;
                animation: all ease-out .5s;
            }
        }
    }
    
}

    //HERO-SECTION
    .hero-section{
        padding:100px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap:30px;
        .hero-section--left{
            // width:90%;
            h1{
                text-transform: uppercase;
                font-weight: 800;
                box-shadow: 0.03em 0.03em 0.05em rgba(0,0,0,.3);
                letter-spacing: .04rem;
                line-height: 1.3;
                margin-bottom:1.5rem;
            }
            .hero-description{
                margin-bottom: 2rem;
                p{
                    font-size: .9rem;
                    line-height: 1.8;
                }
        }
            .hero-btn{
                color:#fff;
                padding:1.2rem 3rem;
                text-align:center;
                border-radius: 4px;
                text-decoration: none;
                text-transform: uppercase;
                font-size:.8rem;
            }
            .register-btn{
                background: $primary-color;

            }
            .login-btn{
                background: #FFFFFF;
                color:#3d3d3d;
                font-weight: bold;
            }
        }

        .hero-section--right{
            position: relative;
            margin: 0 auto;
            .mobile{
                position: absolute;
                animation-name: mobile;
                animation-duration: 3s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: ease-out;
                .smart-phone{
                    background: #f4f4f4;
                    margin: auto;
                    border:10px solid #000;
                    border-top-width: 40px;
                    border-bottom-width: 40px;
                    height:480px;
                    width:240px;
                    border-radius: 40px;
                    &::before{
                        content: '';
                        display:block;
                        width:60px;
                        height:5px;
                        position: absolute;
                        left:50%;
                        top:20px;
                        transform: translate(-50%, -50%);
                        background: #FFFFFF;
                    }
                }
                .smart-phone::after{
                    content: '';
                    position: absolute;
                    display: block;
                    width:22px;
                    height:22px;
                    border-radius: 50%;
                    left:50%;
                    bottom:0;
                    background: #FFFFFF;
                    transform: translate(-50%, -50%);
                }
                .smart-phone--contents{
                    color:#FFFFFF;
                    .smart-phone--heading{
                        background: rgba(4,9,30,.9);
                        padding:0 .3rem;
                        margin-bottom: 3.5rem;
                        h5{
                            margin-top:1rem;
                            font-size: .8rem;
                        }
                        .smart-phone--heading--body{
                            text-align: center;
                            padding-top:1.2rem;
                            .body-button--holder{
                                margin-top:1rem;
                                padding-bottom: 1rem;
                                a{
                                    text-decoration:none;
                                    text-transform: uppercase;
                                    font-size:.5rem;
                                    text-align: center;
                                    color:#fff;
                                    background:$primary-color;
                                    padding:.5rem .3rem;
                                }
                            }
                        }
                    }
                    .chart-img{
                        width:100%;
                        max-width: 500px !important;
                    }
                }
            }
        }
    }
}

//MOBILE PHONE KEYFRAME
@keyframes mobile{
    to{
        transform: translateY(-12%);
    }
}